<!DOCTYPE html>
<html>
  <head>
    <title>Create a new post</title>
    {{> head}}
  </head>
  <body>
    {{> header}}
	<main class="main blog">
      	<div class="container">
        	<h1 class="heading">
          		<a href="/blog">Blog</a>
          		<strong>Create post</strong>
        	</h1>

	        {{#if error}}
	          <p class="error">{{message}}</p>
	        {{/if}}

	        {{#if success}}
	          <p class="success">
	            {{message}}
	            <a href="/blog/{{postId}}">View post</a>
	          </p>
	        {{/if}}

	        <form class="form" method="post" action="/create-post">
	          	<div class="field">
	            	<label class="label">Title</label>
	            	<input class="input" type="text" name="title" value="{{formBody.title}}">
	         	</div>
	          	{{#if missingTitle}}
	            	<p class="missing">The title is required.</p>
	          	{{/if}}

	          	<div class="field">
	            	<label class="label">Excerpt</label>
	            	<input class="input" type="text" name="excerpt" value="{{formBody.excerpt}}">
	          	</div>

	          	<div class="field">
	            	<label class="label">Content</label>
	            	<textarea class="textarea" name="content">{{formBody.content}}</textarea>
	          	</div>

	          	<div class="field no-label">
	            	<button class="button green">Create post</button>
	          	</div>
	        </form>
      </div>
    </main>

    {{> footer}}
  </body>
</html>